/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_reset {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <53 0 36 51>;
        };

        bt_profile_1 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <36 51 53 1>;
        };

        bt_profile_2 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <36 51 53 2>;
        };

        bt_profile_3 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <36 51 53 3>;
        };

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <36 24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4        &kp N5                              &kp N6     &kp N7     &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E   &kp R         &kp T                               &kp Y      &kp U      &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D   &kp F         &kp G                               &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp BACKSPACE
&kp LSHFT  &kp Z   &kp X   &kp C   &kp V         &kp B         &kp LBKT    &kp RBKT  &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                           &none   &kp LEFT_ALT  &kp LEFT_WIN  &mo 1       &kp RET   &kp SPACE  &kp EQUAL  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &kp F1            &kp F2          &kp F3          &kp F4            &kp F5                                             &kp F6    &kp F7           &kp F8          &kp F9     &kp F10          &kp F12
&trans  &none             &none           &mmv MOVE_UP    &none             &mkp MB2                                           &none     &kp PG_UP        &kp UP_ARROW    &none      &kp PRINTSCREEN  &kp F11
&trans  &mwh MOVE_UP      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT   &mkp MB1                                           &kp HOME  &kp LEFT         &kp DOWN_ARROW  &kp RIGHT  &kp INSERT       &kp DELETE
&trans  &mwh SCROLL_DOWN  &none           &none           &mwh SCROLL_LEFT  &mwh SCROLL_RIGHT  &kp K_PREV    &kp K_PLAY_PAUSE  &kp END   &kp PG_DN        &kp C_VOL_DN    &none      &none            &none
                                          &none           &trans            &trans             &trans        &trans            &trans    &kp C_VOLUME_UP  &none
            >;
        };
    };
};
